= month_calendar events: @meetings do |date, meetings|
  = date.strftime("%d") 

  - meetings.each do |meeting|
    .event
      = meeting.name 

-# Bulma Dropdown
-#   %nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
-#     .navbar-brand
-#       %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
-#         %span{"aria-hidden" => "true"}
-#         %span{"aria-hidden" => "true"}
-#         %span{"aria-hidden" => "true"}
-#     .navbar-item.has-dropdown.is-hoverable
-#       %a.navbar-link.calendar-title
-#         Habits
-#       .navbar-dropdown.calendar-title
-#         = link_to "Check-list", habits_path, class: "navbar-item"
-#         %a.navbar-item
-#           All habits
-#         %a.navbar-item
-#           Add habit
-#         %a.navbar-item
-#           Statistics

-# Bulma Hamburger
-#   %li.navbar-item
-#     %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navMenu", :role => "button"}
-#       %span{"aria-hidden" => "true"}
-#       %span{"aria-hidden" => "true"}
-#       %span{"aria-hidden" => "true"}
-#     #navMenu.navbar-menu
-#       .calendar-title
-#         = link_to "Habits", habits_path, class: "navbar-item"
-#         = link_to "Add event", new_meeting_path, class: "navbar-item"
-#         = link_to "All events", meetings_path, class: "navbar-item"