.open
  width: 130px
  background-color: #0395f7
  a
    color: white
    &:hover
      text-decoration: none

.collabsible
  position: relative
  .show
    display: none
  .form-group
    margin-top: 1rem

.collabsible.active
